<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 {{page_not_found}}</title>
{{#if need_db_conn}}
  <script src="assets/js/tailwindcss.js"></script>
{{else}}
  <script src="https://cdn.tailwindcss.com"></script>
{{/if}}
  </head>
  <body
    class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8"
  >
    <div class="text-center">
      <p class="text-base font-semibold text-sky-500">404</p>
      <h1
        class="mt-4 text-3xl font-bold tracking-tight text-sky-900 sm:text-5xl"
      >
        {{page_not_found}}
      </h1>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="/"
          class="rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >{{return_to_homepage}}</a
        >
        <a href="#" class="text-sm font-semibold text-sky-900"
          >{{contact_support}} <span aria-hidden="true">&rarr;</span></a
        >
      </div>
    </div>
  </body>
</html>
